.draggable {
  draggable: true;
  background-color: orange;
  margin: 10px;
  ondragstart: 'onDragStart(e);'; 
  display: inline-block;
}

#answerBox{
  ondragover: "onDragOver(e);";
  ondrop: 'onDrop(e);';
  width: 100%;
  height: 300px;
  background-color: green;
}

.inner {
  background-color: white;
  min-width: 30px;
  height: 10px;
  display: inline-block;
}

#qsymbols {
  width: 20%;
  background-color: purple;
}

table {
  display: inline-block;
}

.container {
  padding: 5px;
}

